:root {
    --font-sans-serif: Poppins, sans-serif;
    --orange-light: #fdb273;
    --gray: #56617a;
    --blue-dark: #133a69;
    --white: white;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------container-----------*/

.page__container {
    display: grid;
    grid-template-columns: 13rem minmax(0, 1fr);
    grid-template-areas: "header main";
    padding-top: 0;
}

/*----------sidebar----------*/

.sidebar__nav-container {
    display: block;
    background-color: aliceblue;
    border-right: 1px solid #b5b7b9;
}

.sidebar__nav-section {
    display: block;
    grid-area: nav;
    margin: 1rem 0 0 1.33rem;
}

.page__header__container {
    padding: 1rem;
    position: sticky;
    overflow-y: auto;
    width: 18rem;
}

.logo {
    width: 150px;
}

.sidebar-nav__heading {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    list-style: none;
}

.sidebar__nav-list {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    font-weight: 200;
    text-align: left;
    line-height: 1.5rem;
    text-decoration: none;
    list-style: none;
}

/*-----sidebar nav links------*/

a:link {
    color: #133a69;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

a:visited {
    color: #133a69;
    text-decoration: none;
}

a:hover {
    color: #fdb273;
    font-weight: bolder;
    text-decoration: underline;
}

a:active {
    color: #fdb273;
    font-weight: bolder;
}

/*-------------------------------------------*/

/*------MAIN SECTION---------*/

.page__main-container {
    grid-area: main;
    padding: 1rem .3rem;
    display: block;
}

.site-introh1 {
    font-family: var(--font-sans-serif);
    color: #fdb273;
    font-size: 3rem;
    font-weight: 200;
    line-height: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.site-introh3 {
    font-family: var(--font-sans-serif);
    font-size: 1.1rem;
    color: var(--gray);
    padding: 1rem;
    font-weight: lighter;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}

/*-----LOGOS SECTION---------*/

.section__logo {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.logo__elk-icon {
    width: 10rem;
}

.logo__wordmark {
    width: 20rem;
    margin: 2rem;
}


/*-----COLORS SECTION-----*/

.section__colors {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.colorblock__orange {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    color: white;
    width: 200px;
    background-color: #fdb273;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    display: inline-block;
}

.colorblock__gray {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    color: white;
    width: 200px;
    background-color: #56617a;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    display: inline-block;

}

.colorblock__blue {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    line-height: 1rem;
    color: white;
    width: 200px;
    background-color: #133a69;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    display: inline-block;
}

/*----------ICONS SECTION-------------*/

.section__icons {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

/*----screenshots of icons---------*/
.section__screen-text {
    font-family: var(--font-sans-serif);
    color: #c2c5c6;
    font-size: .9rem;
    font-weight: 100;
    margin: .2rem 2rem;
    border-bottom: 1px solid #c2c5c6;
}

.icon__elk {
    width: 75px;
    margin: 1rem 0 0 2rem;
}

.icon__hand {
    width: 70px;
}

.icon__main-nav1 {
    width: 250px
}

.icon__main-nav {
    width: 400px;
}

.icon__social-nav {
    width: 400px;
    margin: 0 0 0 2rem;
}

/*--------------remade icons---------------------*/

.btn {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0 2rem;
}

.btn_bright {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_gondola {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}


.btn_cam {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_location {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ski-lift {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_nordic {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_skiing {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_thumb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_mt {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_flag {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_arrow {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_fb {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_ig {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_twit {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_youtube {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_p {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_tik {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_mag {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_map {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_plus {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_x {
    background-color: white;
    color: rgb(45, 93, 112);
    border: 2px solid lightgray;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.btn_elk {
    width: 100px;
    display: inline-block;
    margin: 0 0 0 2rem;
}

.btn_hand {
    width: 100px;
    display: inline-block;
    margin: 0;
}

/*--------------BUTTONS SECTION--------*/

.section__buttons {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

/*--------------Screenshots of buttons------*/

.btn__orange {
    width: 200px;
    margin: 0 0 0 2rem;
}

.btn__blue {
    width: 188px;
    margin: 0 4rem;
}

.btn__blueout {
    width: 300px;
}

.orange-snow {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 45px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 2rem;
}

.blue-discover {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: rgb(50, 61, 89);
    padding: 20px 65px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 2rem;
}

.outline-brochures {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: #133a69;
    background: white;
    border: .5px solid #133a69;
    padding: 20px 105px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    margin: 2rem;
}

/*------------TYPOGRAPHY SECTION-----------*/

.section__typography {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

/*---------screenshots of type-------------*/
.type__features {
    width: 900px;
    display: block;
    margin: 2rem;
}

.type__heading {
    width: 200px;
    margin: 1rem 2rem;
}

.type__body-text {
    width: 400px;
}


/*---------------------*/

.font_poppins {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    margin: 2rem;
}

.type-img {
    width: 250px;
    display: block;
    margin: 20px;
}

.type-stack-img {
    width: 160px;
    display: block;
    margin: 20px;

}

.type_font-weights {
    margin: 20px;
}

.type_font-header {
    color: #b6b8be;
    font-weight: 600;
    margin: 20px;
    border-bottom: 1px solid #adb1b5;
}


.thin100 {
    font-family: var(--font-sans-serif);
    font-weight: 100;
    margin: 1rem 2rem;
}

.thin100italic {
    font-family: var(--font-sans-serif);
    font-weight: 100;
    font-style: italic;
    margin: 1rem 2rem;
}

.extralight200 {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    margin: 1rem 2rem;
}

.extralight200italic {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    font-style: italic;
    margin: 1rem 2rem;
}

.light300 {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    margin: 1rem 2rem;
}

.light300italic {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-style: italic;
    margin: 1rem 2rem;
}

.medium500 {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    margin: 1rem 2rem;
}

.medium500italic {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-style: italic;
    margin: 1rem 2rem;
}

.semibold600 {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    margin: 1rem 2rem;
}

.semibold600italic {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-style: italic;
    margin: 1rem 2rem;
}

.bold700 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    margin: 1rem 2rem;
}

.bold700italic {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    font-style: italic;
    margin: 1rem 2rem;
}

.extrabold800 {
    font-family: var(--font-sans-serif);
    font-weight: 800;
    margin: 1rem 2rem;
}

.extrabold800italic {
    font-family: var(--font-sans-serif);
    font-weight: 800;
    font-style: italic;
    margin: 1rem 2rem;
}

.typo__caption {
    font-family: var(--font-sans-serif);
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid black;
    margin: 1rem 2rem;
}

.typo__caption-semibold600_caps {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem 2rem;
}

.typo__caption-regular {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin: 1rem 2rem;
}

.typo__regular {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin: 1rem 2rem;
}

.typo__caption-italic {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    border-bottom: 1px solid black;
    margin: 1rem 2rem;
}

.typo__italic {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin: 1rem 2rem;
}

.section__main-nav {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__features {
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}


/*----------NAVIGATION SECTION----------*/

.section__navigation {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}

.section__screen-text-title {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    font-weight: 300;
    color: #adb1b5;
    margin: 1rem 2rem;
}

/*----------screenshots of navigation------*/

.nav__btn-lockup {
    width: 240px;
    margin: 1rem 2rem;
}

.nav__icon-lockup {
    width: 200px;
    margin: 1rem 2rem;
}

.nav__cookie-pop {
    width: 300px;
    margin: 1rem 2rem;
}

.nav__agenda-pop {
    width: 300px;
    margin: 1rem 2rem;
}

.header__white {
    width: 900px;
}

.header__onback {
    width: 900px;
}

/*-----------icon nav---------*/

.nav__icon-lockup {
    width: 100px;
}

.icon-btn_home {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
}

.icon-btn_dot {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
}

/* BUTTON FEATURE LOCKUP*/

.btn__screenshot {
    border: 1px solid black;
    margin: 2rem 5rem;
    width: 250px
}

.btn__lockup-container {
    position: relative;
}

.btn__home-orange1 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #fdb273;
    padding: 9px 70px;
    font-size: 10px;
    line-height: 5px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 1rem 0 0 2rem;
    position: relative;
}

.btn__home-text {
    font-weight: 600;
    font-size: 15px;
    color: white;
    line-height: 4px;
}

#btn__hotel-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 25px;
    left: 20px;
}

.btn__home-textlg {
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 15px;
}

.btn__home-gray2 {
    font-family: var(--font-sans-serif);
    color: #133a69;
    background: white;
    padding: 10px 73px;
    font-size: 10px;
    line-height: 6px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
    margin: 0 0 0 2rem;
}

.btn__home-text-pass {
    font-weight: 600;
    font-size: 16px;
    color: #133a69;
    line-height: 4px;
}

#btn__card-icon {
    font-size: 1.2rem;
    color: #133a69;
    position: absolute;
    top: 28px;
    left: 20px;
}

#btn__arrow-card-icon {
    font-size: 1.1rem;
    color: #133a69;
    position: absolute;
    top: 28px;
    left: 200px;
}

.btn__home-blue3 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #133a69;
    padding: 10px 61px;
    font-size: 10px;
    line-height: 2px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
    margin: 0 0 0 2rem;
}

#btn__map-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 35px;
    left: 20px;
}

#btn__arrow-map-icon {
    font-size: 1.1rem;
    color: white;
    position: absolute;
    top: 35px;
    left: 200px;
}


/*---COOKIE POP UP-----*/

.hand__srcimg {
    width: 350px;
}


.cookie__container {
    border-radius: 10px;
    background-color: white;
    border: 1px solid #d1d3da;
    width: 350px;
    position: relative;
    height: 330px;
    margin: 3rem 2rem;
}


.cookie_bubble {
    font-size: 11px;
    background-color: white;
    border: 1px solid #d1d3da;
    color: #999ca0;
    border-radius: 15px;
    padding: 8px;
    width: 140px;
    position: absolute;
    bottom: 320px;
    left: 210px;
}

.cookie__sub {
    font-size: 14px;
    padding: 15px 0 0 15px;
    margin: 0;
}

.cookie__h3 {
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.cookie__elk-icon {
    width: 85px;
    position: absolute;
    top: 5px;
    left: 240px;
}

.cookie__pcopy1 {
    font-size: 10px;
    line-height: 15px;
    color: #adb1b5;
    position: absolute;
    top: 60px;
    left: 15px;
}

.cookie__sub2-container {
    border: 2px solid #d1d3da;
    border-radius: 10px;
    width: 320px;
    position: absolute;
    top: 140px;
    left: 14px;
}

.cookie__sub2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 0 10px;
}

.cookie__pcopy2 {
    font-size: 10px;
    line-height: 15px;
    color: #adb1b5;
    padding: 0 0 0 10px;
}

.cookie__consent-container {
    position: relative;
}

.cookie__pcopy {
    font-size: 10px;
    color: #b5b7b9;
    position: absolute;
    bottom: 80px;
    left: 150px;
    border-bottom: 1px solid #b6b8be;
}

.cookie__button-container {
    position: relative;
}

.cookie_boldp {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    left: 75px;
}

.cookie__btn-navy {
    font-size: 12px;
    color: white;
    font-weight: 600;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 35px;
    left: 200px;
    background-color: #133a69;
    padding: 10px 80px 10px 80px;
}

.cookie__close-container {
    position: relative;
}

.cookie__btn-close {
    width: 125px;
    position: absolute;
    bottom: -50px;
    left: 0px;
}


/*------------Agenda popup-------*/


.agenda__container {
    position: relative;

}

.popup__agendaimg {
    width: 350px;
}

#btn-pop-x {
    position: absolute;
    top: 20px;
    left: 320px;
    color: #fdb273;
}

.popup_h1 {
    font-family: var(--font-sans-serif);
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 25px;
    color: #fdb273;
}

.popup_img {
    width: 300px;
    position: absolute;
    top: 60px;
    left: 25px;
}

.popup_text {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: 14px;
    color: #133a69;
    line-height: 18px;
    position: absolute;
    top: 200px;
    left: 25px;
}

.popup_btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 100px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 2rem;
    position: absolute;
    top: 290px;
    left: 10px;
}

/*-------------HEADER SECTION------------*/

/* HEADER A */

.header-imgs {
    border: 1px solid black;
    width: 800px;
}

.header-white {
    width: 800px;
}

.header-photo {
    width: 800px;
}

.logo-lockup {
    width: 120px;
    margin: 0;
}

.header_container {
    display: flex;
    width: 100%;
    padding: 1rem;
    max-width: 80rem;
    margin: auto;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
}

.navbar-list-a {
    font-family: var(--font-sans-serif);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

.nav-extra {
    font-size: 10px;
}

/* HEADER B */

.header-b__container {
    position: relative;
}

.header-b_hero-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.header_img {
    width: 100%;
}

.logo-lockup {
    margin: .5rem;
}

.navbar-b_hero-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-b_hero-list-b {
    font-family: var(--font-sans-serif);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

/*Hero Nav Links*/

a.nav-links:link {
    color: white;
    text-decoration: none;
}

a.nav-links:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.nav-links:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.nav-links:active {
    color: #fdb273;
    font-weight: bolder;
}

/*Hero Extras Nav Links*/

a.navhero-extra:link {
    color: white;
    text-decoration: none;
}

a.navhero-extra:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.navhero-extra:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.navhero-extras:active {
    color: #fdb273;
    font-weight: bolder;
}

/*------------nav feature-------*/


/*-------------Features Section--------*/

/* Home page */

.section__features {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    border-bottom: 1px solid #adb1b5;
    color: #b6b8be;
    padding: 0 15px;
    margin: 20px;
}


.feature__home-screen1 {
    width: 900px;
    margin: 2rem;
}

.header_hero-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: relative;
}

.header_img {
    width: 100%;
}

.logo-lockup {
    margin: .5rem;
}

.navbar_hero-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    padding: 1rem;
    position: absolute;
}

.navbar_hero-list-b {
    font-family: var(--font-sans-serif);
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

/*----pop ups on home page----*/
.home__icon-popup_container {
    position: absolute;
    top: 150px;
    left: 50px;
}

.home-nav__icon-lockup {
    width: 80%;
}

.home-icon-btn_home {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
}

.home-icon-btn_dot {
    background-color: white;
    border: 1px solid white;
    color: rgb(45, 93, 112);
    font-size: 18px;
    border-radius: 50%;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 5px;
}

/* home-button lockup*/


.home-btn__lockup-container {
    position: absolute;
    top: 400px;
    left: 0;
}

.home-btn__home-orange1 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #fdb273;
    padding: 9px 70px;
    font-size: 10px;
    line-height: 5px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 1rem 0 0 2rem;
    position: relative;
}

.home-btn__home-text {
    font-weight: 600;
    font-size: 15px;
    color: white;
    line-height: 4px;
}

#home-btn__hotel-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 25px;
    left: 20px;
}

.home-btn__home-textlg {
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 15px;
}

.home-btn__home-gray2 {
    font-family: var(--font-sans-serif);
    color: #133a69;
    background: white;
    padding: 10px 70px;
    font-size: 10px;
    line-height: 6px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
    margin: 0 0 0 2rem;
}

.home-btn__home-text-pass {
    font-weight: 600;
    font-size: 16px;
    color: #133a69;
    line-height: 4px;
}

#home-btn__card-icon {
    font-size: 1.2rem;
    color: #133a69;
    position: absolute;
    top: 28px;
    left: 20px;
}

#home-btn__arrow-card-icon {
    font-size: 1.1rem;
    color: #133a69;
    position: absolute;
    top: 28px;
    left: 200px;
}

.home-btn__home-blue3 {
    font-family: var(--font-sans-serif);
    color: white;
    background: #133a69;
    padding: 10px 61px;
    font-size: 10px;
    line-height: 2px;
    text-align: left;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 5rem;
    position: relative;
    margin: 0 0 0 2rem;
}

#home-btn__map-icon {
    font-size: 1.2rem;
    color: white;
    position: absolute;
    top: 35px;
    left: 20px;
}

#home-btn__arrow-map-icon {
    font-size: 1.1rem;
    color: white;
    position: absolute;
    top: 35px;
    left: 200px;
}

/*------------Agenda popup-------*/


.home-agenda__container {
    position: absolute;
    top: 200px;
    left: 730px;

}

.home-popup__agendaimg {
    width: 350px;
}

#home-btn-pop-x {
    position: absolute;
    top: 20px;
    left: 320px;
    color: #fdb273;
}

.home-popup_h1 {
    font-family: var(--font-sans-serif);
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 25px;
    color: #fdb273;
}

.home-popup_img {
    width: 300px;
    position: absolute;
    top: 60px;
    left: 25px;
}

.home-popup_text {
    font-family: var(--font-sans-serif);
    font-weight: 300;
    font-size: 14px;
    color: #133a69;
    line-height: 18px;
    position: absolute;
    top: 200px;
    left: 25px;
}

.home-popup_btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 20px 100px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 2rem;
    position: absolute;
    top: 290px;
    left: 10px;
}

/*Hero Nav Links*/

a.nav-links:link {
    color: white;
    text-decoration: none;
}

a.nav-links:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.nav-links:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.nav-links:active {
    color: #fdb273;
    font-weight: bolder;
}

/*Hero Extras Nav Links*/

a.navhero-extra:link {
    color: white;
    text-decoration: none;
}

a.navhero-extra:visited {
    color: white;
    border-color: white;
    text-decoration: none;
}

a.navhero-extra:hover {
    color: #fdb273;
    border-color: fdb273;
    font-weight: bolder;
}

a.navhero-extras:active {
    color: #fdb273;
    font-weight: bolder;
}


/*---------------OPENING DAY SECTION-------*/

.feature__1opening-container {
    position: relative;
}

.feature__open1 {
    width: 900px;
    margin: 2rem;
    position: absoute;
    top: 0;
    left: 0;
}

.opening-orange {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: #fdb273;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}

.date-black {
    font-family: var(--font-sans-serif);
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin: 0;
}

/*FEATURE 2*/

.feature__screenimg2 {
    width: 900px;
    margin: 2rem;
}

.nav-feature__container {
    width: 1000px;
    background-color: white;
    margin: 2rem;
    display: block;
    position: relative;
}

.home-feature2__container {
    width: 1000px;
    height: 500px;
    margin: 2rem;
    position: relative;
    display: block;
}

.headline__feature-img1 {
    width: 270px;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
}

.headline__feature-img2 {
    width: 150px;
    height: 400px;
    position: absolute;
    left: 800px;
    top: 0;
}

.headline__feature-text-orange {
    font-family: var(--font-sans-serif);
    color: #fdb273;
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 230px;
}

.headline__feature-text-black {
    font-family: var(--font-sans-serif);
    color: black;
    font-size: 5rem;
    position: absolute;
    top: 75px;
    left: 280px;
}

.headline__feature-text {
    font-family: "Poppins";
    font-style: italic;
    font-size: .6rem;
    line-height: .9rem;
    color: #56617a;
    position: absolute;
    top: 250px;
    left: 300px;
}

.headline__feature-button-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 10px 42px;
    font-size: 5px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 375px;
    left: 300px;
}

.feature__nav-icons {
    width: 130px;
    position: absolute;
    top: 320px;
    left: 680px;
}

.feature__nav-circles {
    width: 100px;
    position: absolute;
    top: 420px;
    left: 800px;
}

/*-------feature 3 Mountains for All---------*/

.home-feature3_container {
    width: 900px;
    height: 500px;
    margin: 1rem 2rem;
    display: block;
    position: relative;
}

.feature__screenimg3 {
    width: 900px;
    display: block;
    margin: 1rem 2rem;
}

.home-feature3__backimg {
    width: 900px;
    margin: 1rem 4rem;
}

.home-feature3-activities_container {
    position: relative;
}

.home-feature3-headline {
    font-family: var(--font-sans-serif);
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 18rem;
}

.home-feature3-sub {
    font-family: var(--font-sans-serif);
    font-size: 1.5rem;
    color: #fdb273;
    font-weight: 700;
    position: absolute;
    top: 5.5rem;
    left: 34rem;
}

.home-feature3__activities {
    font-family: var(--font-sans-serif);
    font-size: .8rem;
    font-weight: 500;
    writing-mode: sideways-lr;
    position: absolute;
    top: 6rem;
    left: 11rem;
}

.home-feature3__line {
    font-size: .6rem;
    font-weight: 500;
    writing-mode: sideways-lr;
    position: absolute;
    top: 12.5rem;
    left: 11rem;
}

.home-feature3__btn_arrow {
    width: 130px;
    position: absolute;
    top: 19rem;
    left: 8.5rem;

}

.home-feature3__handicon {
    width: 3rem;
    position: absolute;
    top: 27rem;
    left: 4rem;
}

.home-feature3__smimg {
    width: 28rem;
    position: absolute;
    top: 11rem;
    left: 16rem;
}

.home-icon-container {
    position: absolute;
    top: 17rem;
    left: 45rem;
}

.home-icon__number {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: .8rem;
    color: #fdb273;
    display: inline-block;
    margin: 0 .3rem;
}

.home-icon__text {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: .7rem;
    color: #56617a;
    display: inline-block;
    margin: .3rem;
}

.home-feature3__btn-orange {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    border: none;
    color: white;
    background: #fdb273;
    padding: 8px 30px;
    font-size: 7px;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0 5px;
    position: absolute;
    top: 6.8rem;
}

.home-feature3__slide-icons {
    width: 7rem;
    margin: 73px 0 0 5px;

}